<div class="project-detail home-project col-12 text-center mt-4">
  
  <section class="container project-intro row align-items-center justify-content-center mb-5">
    <div class="col-lg-2"></div>
    <div class="container col-sm-10 col-md-6 col-lg-5 text-center p-1">
      <img src="{{project.image}}" class="w-100">
      <div class="project-buttons">
        {{#isLoggedIn currentUser}}
          {{#isOpen ../projectState}}
            {{#isNotContributor ../currentUser.id ../projectUsers }}
              <form method="POST" action="/projects/{{../project.id}}/join">
                <button class="btn second-button w-100" type="submit"><i class="fa-solid fa-plus pe-2"></i>Join project</button>
              </form>
            {{/isNotContributor}}
          {{/isOpen}}
        {{else}}
        <button class="btn second-button flex-fill" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-plus pe-2"></i>Join project</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Join Hey Dev!</h1>
                <button type="button" class="btn-close second-button" data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="modal-title fs-5" id="exampleModalLabel">Once you're logged in you'll be able to join the project ✨</p>
              </div>
              <div class="modal-footer">
                <a href="/signup" type="button" class="btn second-button">Sign up</a>
                <a href="/login" type="button" class="btn main-button">Log in</a>
              </div>
            </div>
          </div>
        </div>
        {{/isLoggedIn}}
        {{#isOwnedBy currentUser project}}
          <div class="d-flex flex-wrap flex-row justify-content-center">
            <a href="/projects/{{../project.id}}/update" class="btn second-button">Edit project</a>
            <form method="POST" action="/projects/{{../project.id}}/delete">
              <button class="btn second-button">Delete project</button>
            </form>
          </div>
        {{/isOwnedBy}}
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-5 align-items-center mt-4">
      <h1>{{project.name}}</h1>
      <h4>By {{project.author.name}} {{project.author.surname}} (@{{project.author.alias}})</h4>
      <h5><strong>Current state:</strong> {{project.state}}</h5>
      {{#if project.weeks}}<h5><strong>Estimated duration:</strong> {{project.weeks}} weeks</h5>{{/if}}
      {{#if project.location}}<h5><strong>Location:</strong> {{project.location}}</h5>{{/if}}
      <div class="d-flex flex-row flex-wrap justify-content-center gap-4 pb-3">
        {{#each project.devLanguages as |devLanguage|}}
          <span class="user-DevIcon fa-xl py-3 mt-3">{{{languageIcon devLanguage}}}</span>
        {{/each}}
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-center align-items-center gap-2 pt-2">
        {{#each project.languages as |language|}}
          <span class="user-language">{{language}}</span>
        {{/each}}
      </div>
      
    </div>
  </section>

  <section class="container-fluid project-info latest-projects py-5">
    <h3 class="pb-2 pt-2">Project description:</h3>
    <p class="px-5">{{project.description}}</p>
    {{#if project.github}}<a href="{{project.github}}" class="btn main-button flex-fill px-5" target="_blank"><i class="fa-brands fa-github pe-2"></i>View on GitHub</a>{{/if}}
  </section>

  <section class="container project-contributors">
    <h2 class="pt-5">Contributors</h2>
    <div class="d-flex flex-wrap flex-row justify-content-center gap-3">
      {{#each project.users as |user|}}
        <div class="d-flex flex-wrap flex-column justify-content-center">
          <a href="/users/{{user.id}}"><img class="rounded-circle w-50" src="{{user.avatar}}"  alt="{{user.alias}}"></a>
          <h3>@{{user.alias}}</h3>
          <p>{{user.name}} {{user.surname}}</p>
        </div>
      {{/each}}
    </div>
  </section>
</div>