<p>{{project.author.name}}</p>
<p>{{project.name}}</p>
<p>{{project.description}}</p>
<img src="{{project.image}}">
<p>{{project.weeks}}</p>
<ul>
  {{#each project.devLanguages as |devLanguage|}}
  <li>{{devLanguage}}</li>
  {{/each}}
</ul>
<ul>
  {{#each project.languages as |language|}}
  <li>{{language}}</li>
  {{/each}}
</ul>
<p>{{project.location}}</p>
<p>{{project.state}}</p>
<p>{{project.github}}</p>

<h3>Contributors</h3>
<div class="d-flex flex-wrap flex-row justify-content-start">
  {{#each project.users as |user|}}
      <a href="/users/{{user.id}}"><img class="rounded-circle" src="{{user.avatar}}" alt="{{user.alias}}"></a>
    </div>
  </div>
  {{/each}}
</div>
</div>

{{#isOpen projectState}}
{{#isLoggedIn currentUser}}
<form method="POST" action="/projects/{{../project.id}}/join">
  <button class="btn btn-primary" type="submit">Join project</button>
</form>
{{else}}
<button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Join
  project</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Join Hey Dev!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="modal-title fs-5" id="exampleModalLabel">Once you're logged in you'll be able to join the project ✨</p>
      </div>
      <div class="modal-footer">
        <a href="/signup" type="button" class="btn btn-secondary">Sign up</a>
        <a href="/login" type="button" class="btn btn-primary">Log in</a>
      </div>
    </div>
  </div>
</div>
{{/isLoggedIn}}
{{/isOpen}}

{{#isOwnedBy currentUser project}}
<a href="/projects/{{../project.id}}/update" class="btn btn-primary">Edit project</a>

<form method="POST" action="/projects/{{../project.id}}/delete">
  <button class="btn btn-danger">Delete project</button>
</form>
{{/isOwnedBy}}