<section class="home-header d-flex flex-column justify-content-center align-items-end pe-5 mb-5">
  <div class="header-group">
    <h1>Projects</h1>
    <p>Join an open project to bring your resume to life alongside other junior developers </p>
    <div class="d-flex flex-row flex-wrap text-center">
      <a href="/projects/new" class="home-button-main flex-fill">Start a new project <i
          class="fa-solid fa-arrow-pointer ps-2"></i></a>
    </div>
  </div>
</section>

<div class="container signup-form">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <form action="/projects">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="author" name="author" placeholder="author">
          <label for="author">Author</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" name="name" placeholder="name">
          <label for="name">Project name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="description" name="description" placeholder="description">
          <label for="description">Project idea</label>
        </div>
        <select class="form-select mb-3 py-3" aria-label="Project State" id="location" name="state">
          <option selected value="">Project state</option>
          <option value="Open">Open</option>
          <option value="In progress">In progress</option>
          <option value="Completed">Completed</option>
        </select>
        <div class="mb-3">
          <label for="weeks" class="form-label">Max. project duration in weeks </label>
          <input type="range" class="form-range" min="0" max="24" id="weeks" name="weeks"
            oninput="this.nextElementSibling.value = this.value">
          <output>12</output>
        </div>
        <select class="form-select mb-3 py-3" aria-label="Project Location" id="location" name="location">
          <option selected value="">Location</option>
          <option value="Remote">Remote</option>
          <option value="Local">Local</option>
        </select>
        <div class="mb-3">
          <label for="maxContributors" class="form-label">Max. contributors</label>
          <input type="range" class="form-range" min="0" max="6" id="maxContributors" name="maxContributors"
            oninput="this.nextElementSibling.value = this.value">
          <output>3</output>
        </div>
        <div class="mb-3">
          <label for="devLanguages" class="form-label mb-3">Programming languages</label>
          <div class="d-flex flex-row flex-wrap">
            <div class="form-check pb-3">
              <input id="JavaScript" class="form-check-input d-none" type="checkbox" name="devLanguages"
                value="JavaScript" />
              <label class="form-check-label" for="JavaScript"><i class="fa-brands fa-square-js fa-2xl"></i></label>
            </div>
            <div class="form-check pb-3">
              <input id="HTML" class="form-check-input d-none" type="checkbox" name="devLanguages" value="HTML" />
              <label class="form-check-label" for="HTML"><i class="fa-brands fa-html5 fa-2xl"></i></label>
            </div>
            <div class="form-check pb-3">
              <input id="CSS" class="form-check-input d-none" type="checkbox" name="devLanguages" value="CSS" />
              <label class="form-check-label" for="CSS"><i class="fa-brands fa-css3-alt fa-2xl"></i></label>
            </div>
            <div class="form-check pb-3">
              <input id="PHP" class="form-check-input d-none" type="checkbox" name="devLanguages" value="PHP" />
              <label class="form-check-label" for="PHP"><i class="fa-brands fa-php fa-2xl"></i></label>
            </div>
            <div class="form-check pb-3">
              <input id="Java" class="form-check-input d-none" type="checkbox" name="devLanguages" value="Java" />
              <label class="form-check-label" for="Java"><i class="fa-brands fa-java fa-2xl"></i></label>
            </div>
            <div class="form-check pb-3">
              <input id="Python" class="form-check-input d-none" type="checkbox" name="devLanguages" value="Python" />
              <label class="form-check-label" for="Python"><i class="fa-brands fa-python fa-2xl"></i></label>
            </div>
          </div>
        </div>

        <li class="nav-item dropdown">
          <button class="nav-link form-select py-3 text-start ps-3" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">Languages</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">
                <div class="form-check">
                  <input id="English" class="form-check-input" type="checkbox" name="languages" value="English" />
                  <label class="form-check-label" for="English">English</label>
                </div>
              </a></li>
            <li><a class="dropdown-item">
                <div class="form-check">
                  <input id="Spanish" class="form-check-input" type="checkbox" name="languages" value="Spanish" />
                  <label class="form-check-label" for="Spanish">Spanish</label>
                </div>
              </a></li>
            <li><a class="dropdown-item">
                <div class="form-check">
                  <input id="French" class="form-check-input" type="checkbox" name="languages" value="French" />
                  <label class="form-check-label" for="French">French</label>
                </div>
              </a></li>
            <li><a class="dropdown-item">
                <div class="form-check">
                  <input id="German" class="form-check-input" type="checkbox" name="languages" value="German" />
                  <label class="form-check-label" for="German">German</label>
                </div>
              </a></li>
            <li><a class="dropdown-item">
                <div class="form-check">
                  <input id="Chinese" class="form-check-input" type="checkbox" name="languages" value="Chinese" />
                  <label class="form-check-label" for="Chinese">Chinese</label>
                </div>
              </a></li>
            <li><a class="dropdown-item">
                <div class="form-check">
                  <input id="Portuguese" class="form-check-input" type="checkbox" name="languages" value="Portuguese" />
                  <label class="form-check-label" for="Portuguese">Portuguese</label>
                </div>
              </a></li>
            <li><a class="dropdown-item">
                <div class="form-check">
                  <input id="Other" class="form-check-input" type="checkbox" name="languages" value="Other" />
                  <label class="form-check-label" for="Other">Other</label>
                </div>
              </a></li>
          </ul>
        </li>

        <button class="btn second-button search-button mt-3 w-100" type="submit">Search</button>
      </form>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-8">
      <div class="d-flex flex-wrap flex-row justify-content-start">
        <h3>{{warning}}</h3>
        {{#each projects as |project|}}
        <div class="col-sm-12 col-lg-4 text-center p-1">
        <div class="home-project d-flex flex-column justify-content-between p-3 h-100 project-card">
          <img src="{{project.image}}" alt="{{project.name}}" class="w-100">
          <h4 class="black-color">{{project.name}}</h4>
          <p class="black-color">{{project.description}}</p>
          <div class="d-flex flex-row flex-wrap py-4 px-5 justify-content-around">
            {{#each project.devLanguages as |devLanguage|}}
            {{{languageIcon devLanguage}}}
            {{/each}}
          </div>
          <a href="/projects/{{project.id}}" class="btn second-button w-100">More info</a>
        </div>
      </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>