<div class="container">

  <h1>Create new proyect</h1>

  <form action="/projects" method="POST" enctype="multipart/form-data">
    <div class="form-floating mb-3">
      <input type="text" class="form-control {{#if errors.name}}is-invalid{{/if}}" id="name" name="name" value="{{project.name}}" placeholder="Your project name">
      <label for="floatingInput">Project Name</label>
      {{#if errors.name}}
        <div class="invalid-feedback">
          {{errors.name.message}}
        </div>
      {{/if}}
    </div>


    <div class="form-floating mb-3">
      <input type="text" class="form-control {{#if errors.description}}is-invalid{{/if}}" id="description" name="description" value="{{project.description}}" placeholder="Describe your project">
      <label for="description">Description</label>
      {{#if errors.description}}
        <div class="invalid-feedback">
          {{errors.description.message}}
        </div>
      {{/if}}
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">Project image</label>
      <input class="form-control {{#if errors.image}}is-invalid{{/if}}" type="file" id="image" name="image">
      {{#if errors.image}}
        <div class="invalid-feedback">
          {{errors.image.message}}
        </div>
      {{/if}}
    </div>

  <!-- TO DO: location input -->

  <select class="form-select mb-3 {{#if errors.location}}is-invalid{{/if}}" aria-label="Default select example" id="location">
    <option selected>Choose</option>
    <option value="Remote">Remote</option>
    <option value="Local">Local</option>
      {{#if errors.location}}
        <div class="invalid-feedback">
          {{errors.location.message}}
        </div>
      {{/if}}
  </select>

  <div class="form-floating mb-3">
    <input type="number" class="form-control {{#if errors.weeks}}is-invalid{{/if}}" id="weeks" name="weeks" value="{{project.weeks}}" placeholder="Set the duration">
    <label for="weeks">Weeks of development</label>
    {{#if errors.weeks}}
        <div class="invalid-feedback">
          {{errors.weeks.message}}
        </div>
      {{/if}}
  </div>

   <div class="form-floating mb-3">
    <input type="number" class="form-control {{#if errors.maxContributors}}is-invalid{{/if}}" id="maxContributors" name="maxContributors" value="{{project.maxContributors}}" placeholder="Set the duration">
    <label for="weeks">Max number of contributors</label>
    {{#if errors.maxContributors}}
        <div class="invalid-feedback">
          {{errors.maxContributors.message}}
        </div>
      {{/if}}
  </div>

  <div>
    <label for="devLanguages mb-3" class="form-label">Programming languages</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="devLanguages" value="JavaScript" id="JavaScript">
      <label class="form-check-label" for="JavaScript">JavaScript</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="devLanguages" value="HTML" id="HTML">
      <label class="form-check-label" for="HTML">HTML</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="devLanguages" value="CSS" id="CSS">
      <label class="form-check-label" for="CSS">CSS</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="devLanguages" value="PHP" id="PHP">
      <label class="form-check-label" for="PHP">PHP</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="devLanguages" value="Python" id="Python">
      <label class="form-check-label" for="Python">Python</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="devLanguages" value="Java" id="Java">
      <label class="form-check-label" for="Java">Java</label>
    </div>
  </div>

<div class="mb-5">
    <label for="languages mb-3" class="form-label">Languages</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages" value="English" id="English">
      <label class="form-check-label" for="English">English</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages" value="Spanish" id="Spanish">
      <label class="form-check-label" for="Spanish">Spanish</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages" value="French" id="French">
      <label class="form-check-label" for="French">French</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages" value="German" id="German">
      <label class="form-check-label" for="German">German</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages" value="Chinese" id="Chinese">
      <label class="form-check-label" for="Chinese">Chinese</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages" value="Portuguese" id="Portuguese">
      <label class="form-check-label" for="Portuguese">Portuguese</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="languages" value="Other" id="Other">
      <label class="form-check-label" for="Other">Other</label>
    </div>
  </div>
  <button type="submit" class="btn main-button">Create</button>

  </form>
</div>

