<p>{{user.alias}}</p>
<p>{{user.name}}</p>
<p>{{user.surname}}</p>
<p>{{user.location}}</p>
<img src="{{user.avatar}}">
<p>{{user.dateOfBirth}}</p>
<ul>
  {{#each user.devLanguages as |devLanguage|}}
    <li>{{devLanguage}}</li>
  {{/each}}
</ul>
<ul>
  {{#each user.languages as |language|}}
    <li>{{language}}</li>
  {{/each}}
</ul>
<p>{{user.about}}</p>
<p>{{user.phone}}</p>
<p>{{user.email}}</p>
<p>{{user.linkedin}}</p>
<p>{{user.github}}</p>
<p>{{user.website}}</p>

<!-- TO DO: show buttons only if its your profile -->

<a href="/users/update" class="btn btn-primary">Edit your profile</a>

<form method="POST" action="/users/delete">
  <button class="btn btn-danger">Delete account</button>
</form>

<!-- TO DO: add projects to user profile -->