<div class="container">

  <h1>Register</h1>

  <form action="/users" method="POST">
    <div class="input-group mb-3">
      <span class="input-group-text" id="alias-symbol">@</span>
      <input type="text" class="form-control {{#if errors.alias}} is-invalid{{/if}}" name="alias" value="{{user.alias}}" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>


    <div class="form-floating mb-3">
      <input type="text" class="form-control {{#if errors.name}}is-invalid{{/if}}" id="name" name="name"
        value="{{user.name}}" placeholder="Your name">
      <label for="floatingInput">Name</label>
      {{#if errors.name}}
      <div class="invalid-feedback">
        {{errors.name.message}}
      </div>
      {{/if}}
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control {{#if errors.surname}}is-invalid{{/if}}" id="surname" name="surname" value="{{user.surname}}" placeholder="Your surname">
      <label for="floatingInput">Surname</label>
      {{#if errors.surname}}
      <div class="invalid-feedback">
        {{errors.surname.message}}
      </div>
      {{/if}}
    </div>

   <select class="form-select mb-3 {{#if errors.role}}is-invalid{{/if}}" aria-label="Choose your role"
      id="role" name="role" value="{{user.role}}">
      <option selected>Choose your role</option>
      <option value="junior">Junior Developer</option>
      <option value="recruiter">Recruiter</option>
      {{#if errors.role}}
      <div class="invalid-feedback">
        {{errors.role.message}}
      </div>
      {{/if}}
    </select >

  <div class ="form-floating mb-3">
    <input type="email" class="form-control {{#if errors.email}}is-invalid{{/if}}" id="email" name="email" value="{{user.email}}" placeholder="Email">
    <label for="email">Email</label>
      {{#if errors.email}}
        <div class="invalid-feedback">
          {{errors.email}}
        </div>
      {{/if}}
  </div>

  <div class ="form-floating mb-3">
    <input type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password" name="password" value="{{user.password}}" placeholder="password">
    <label for="password">Password</label>
      {{#if errors.password}}
        <div class="invalid-feedback">
          {{errors.password.message}}
        </div>
      {{/if}}
  </div>
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>
</div>